@charset "utf-8";

.manage-btn-size {
    width:110px;
    height:30px;
}
    
.manage-btn-root {
    -st-extends:StylableButton;
    transition:all .2s ease, visibility 0;
    border-radius:50px;
    background:#6B6CCC;
    border:1px solid #6B6CCC;
}
.manage-btn-root:hover {
    background:#FFF;
}

.manage-btn-root[disabled] {
    background:#E2E2E2;
}

.manage-btn-root[disabled] .style-button-label {
    color:#8F8F8F;
}

.manage-btn-root[disabled] .style-button-icon {
    fill:#8F8F8F;
}

.manage-btn-root .style-button-container {
    transition:inherit;
}

.manage-btn-root .style-button-label {
    transition:inherit;
    letter-spacing:0;
    color:#FFF;
    font-size:12px;
    font-family:nanumgothic-regular,sans-serif;
}

.manage-btn-root .style-button-icon {
    transition:inherit;
    width:14px;
    height:14px;
    fill:#FFF094;
    display:none;
}

.manage-btn-root:hover .style-button-label {
    font-size:12px;
    font-family:nanumgothic-regular,sans-serif;
    color:#6B6CCC;
}
