@charset "utf-8";

[data-mesh-id=page-title-content]{
    height:auto;width:100%
}
[data-mesh-id=page-title-content-gridContainer]{
    position:static;
    display:grid;
    height:auto;
    width:100%;
    min-height:264px;
    grid-template-rows:min-content 1fr;
    grid-template-columns:100%
}
[data-mesh-id=page-title-content-gridContainer] > [id="page-title"]{
    position:relative;margin:111px 0px 0 calc((100% - 980px) * 0.5);
    left:340px;
    grid-area:1 / 1 / 2 / 2;
    justify-self:start;align-self:start
}
[data-mesh-id=page-title-content-gridContainer] > [id="page-ex"]{
    position:relative;margin:0px 0px 10px calc((100% - 980px) * 0.5);
    left:298px;
    grid-area:2 / 1 / 3 / 2;
    justify-self:start;
    align-self:start
}

#page-title{
    width:310px;
    height:28px
}

#page-ex{
    width:394px;
    height:14px
}

#page-title { 
    height:auto 
} 
#page-ex { 
    height:auto 
}
#masterPage{--pinned-layers-in-page:0}
