@charset "utf-8";

.height_100{
height:100%;
}

.h100-w100{
position:absolute;
top:0;
width:100%;
height:100%;
overflow:hidden;
}

.ex-font blockquote,.ex-font h1,.ex-font h2,.ex-font h3,.ex-font h4,.ex-font h5,.ex-font h6,.ex-font p {
line-height:normal;
letter-spacing:normal;
}

.ex-font{
word-wrap:break-word;
overflow-wrap:break-word;
text-align:start;
pointer-events:none;
min-height:var(--min-height);
}

.ex-font>*{
pointer-events:auto;
}

.ex-font ol,.ex-font ul{
padding-left:1.3em;
padding-right:0;
margin-left:.5em;
margin-right:0;
line-height:normal;
letter-spacing:normal;
}

.ex-font ol ul,.ex-font ul ul{
list-style-type:circle;
}

.ex-font ol ol ul,.ex-font ol ul ul,.ex-font ul ol ul,.ex-font ul ul ul{
list-style-type:square;
}

.ex-font ol[dir=rtl],.ex-font ol[dir=rtl] ol,.ex-font ol[dir=rtl] ul,.ex-font ul[dir=rtl],.ex-font ul[dir=rtl] ol,.ex-font ul[dir=rtl] ul{
padding-left:0;
padding-right:1.3em;
margin-left:0;
margin-right:.5em;
}

.ex-font blockquote,.ex-font h1,.ex-font h2,.ex-font h3,.ex-font h4,.ex-font h5,.ex-font h6,.ex-font p{
margin:0;
}

.ex-font ul{
list-style-type:disc;
}

.ex-font ol{
list-style-type:decimal;
}

.ex-font li{
font-style:inherit;
font-weight:inherit;
line-height:inherit;
letter-spacing:normal;
}

.ex-font a{
color:inherit;
}

.main-grid {
display:grid;
grid-template-rows:1fr;
grid-template-columns:1fr;
}

.main-grid>div {
justify-self:stretch!important;
align-self:stretch!important;
}

.rel-ahei-100wei {
height:auto;
width:100%;
position:relative;
}

._1111grid {
height:100%;
position:relative;
left:0;
grid-area:1/1/1/1;
align-self:start;
justify-self:stretch;
}