@charset "utf-8";

.serch-box-border{
    --alpha-searchBoxBackgroundColor:var(--alpha-inputBackgroundColor,1);
    --alpha-searchInputIconColor:var(--alpha-inputIconColor,1);
    --borderAlpha:var(--alpha-inputBorderColor,1);
    --borderColor:var(--inputBorderColor);
    --borderWidth:var(--inputBorderWidth);
    --leftBorderWidth:var(--input-left-border-width);
    --searchBoxBackgroundColor:var(--inputBackgroundColor);
    --searchInputIconColor:var(--inputIconColor,var(--color_15));display:grid
}
.serch-box-border:hover{
    --alpha-searchBoxBackgroundColor:var(--alpha-inputHoverBackgroundColor,1);
    --alpha-searchInputIconColor:1;
    --borderAlpha:var(--alpha-inputHoverBorderColor,1);
    --borderColor:var(--inputHoverBorderColor);
    --borderWidth:var(--inputHoverBorderWidth);
    --leftBorderWidth:var(--input-hover-left-border-width);
    --searchBoxBackgroundColor:var(--inputHoverBackgroundColor);
    --searchInputIconColor:var(--inputHoverIconColor,var(--color_15))
}

.serch-borderline {
    --alpha-inputfocusbackgroundcolor:1;
    --box-border-color:RGBA(var(--borderColor),var(--borderAlpha));
    font:var(--inputFont,var(--font_8));
    box-shadow:var(--inputShadow,none);
    box-sizing:border-box;
    color:rgba(var(--inputTextColor,var(--color_15)),var(--alpha-inputTextColor,1));
    display:grid;
    min-height:100%;
    overflow:hidden;
    position:absolute;
    top:0;
    width:100%;
    border-color:var(--box-border-color);
    border-style:solid;
    border-width:var(--borderWidth);
}

.serch-borderline,.serch-borderline>:last-child {
    border-radius:var(--inputBorderRadius,0);
}

.serch-borderline>:last-child {
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.serch-borderline._1pBEa {
    z-index:1000;
    height:auto;
    min-width:280px;
}





.serch-box-form {
    box-sizing:border-box;
    cursor:text;
    display:flex;
    height:100%;
    overflow:hidden;
    width:100%;
}

.serch-style{
    align-items:center;
    background-color:rgba(var(--searchBoxBackgroundColor),var(--alpha-searchBoxBackgroundColor,1));
    display:flex;
    flex-direction:var(--container-direction,row);
    flex-grow:1;
    overflow:hidden
}
.serch-style .serch-input-style{
    width:calc(var(--icon-spacing) - var(--leftBorderWidth) + var(--input-left-border-width));
    flex-shrink:0
}

.serch-style .serch-input-style{
    display:var(--search-icon-display,flex)
}



.serch-style .serch-button-style {
    align-items:center;
    background:rgba(var(--buttonBackgroundColor,var(--color_15)),var(--alpha-buttonBackgroundColor,1));
    border:solid rgba(var(--inputBorderColor,var(--color_15)),var(--alpha-inputBorderColor,1)) var(--borderWidth);
    border-right:none;
    border-top:none;
    border-bottom:none;
    color:#000;
    cursor:pointer;
    display:var(--search-button-display,none);
    height:100%;
    padding-left:var(--icon-spacing);
    padding-right:var(--icon-spacing);
}

.serch-style .serch-button-style:hover {
    background:rgba(var(--buttonHoverBackgroundColor,var(--color_15)),var(--alpha-buttonHoverBackgroundColor,1));
}

.serch-style .serch-button-style:focus {
    box-shadow:inset 0 0 0 2px #116dff,inset 0 0 0 3px #fff;
    z-index:999;
}

.input-text {
    --bgf:transparent;
    --bgh:transparent;
    --bg:transparent;
    --brw:0;
    --brwf:0;
    --brwh:0;
    --shd:none;
    --fnt:var(--inputFont,var(--font_8));
    --textalign:var(--input-text-align);
    --textpadding:var(--text-padding);
    --txt:var(--inputTextColor);
    --txt2:var(--inputPlaceholderColor);
    align-items:center;
    margin-right:42px;
    margin-left:var(--text-spacing);
    overflow:hidden;
    width:100%;
    display:flex;
}

.input-text input[type=search]::-webkit-search-cancel-button,.input-text input[type=search]::-webkit-search-decoration,.input-text input[type=search]::-webkit-search-results-button,.input-text input[type=search]::-webkit-search-results-decoration {
    display:none;
}

.flex-g1-s1{
    flex-grow:1;
    flex-shrink:1;
    overflow:hidden
}

.serch-icon {
    flex-shrink:0;
    font:var(--inputFont,var(--font_8));
    height:.9em;
    max-height:50px;
    max-width:50px;
    min-height:14px;
    min-width:14px;
    width:.9em;
}

.serch-icon svg {
    display:block;
}


.serch-input-box-style{
    display:flex;
    flex-direction:column
}

.serch-input-box-style .serch-input{
    flex:1;
    display:flex;
    flex-direction:column;
    position:relative
}

.serch-input-box-style .serch-input-text-style {
    box-shadow:var(--shd,000transparent);
    font:var(--fnt,var(--font_8));
    border-radius:var(--corvid-border-radius,var(--rd,0));
    background-color:var(--corvid-background-color,rgba(var(--bg,255,255,255),var(--alpha-bg,1)));
    box-sizing:border-box!important;
    width:100%;
    flex:1;
    text-overflow:ellipsis;
    text-align:var(--textAlign);
    direction:var(--dir);
    border-color:var(--corvid-border-color,rgba(var(--brd,227,227,227),var(--alpha-brd,1)));
    border-style:solid;
    border-width:var(--corvid-border-width,var(--brw,1px));
    margin:0;
    padding:var(--textPadding);
}

.serch-input-box-style .serch-input-text-style:hover {
    background-color:rgba(var(--bgh,255,255,255),var(--alpha-bgh,1));
    border-color:rgba(var(--brdh,163,217,246),var(--alpha-brdh,1));
    border-style:solid;
    border-width:var(--brwh,1px);
}

.serch-input-box-style .serch-input-text-style:disabled {
    background-color:rgba(var(--bgd,204,204,204),var(--alpha-bgd,1));
    color:#0ff;
    border-color:rgba(var(--brdd,163,217,246),var(--alpha-brdd,1));
    border-style:solid;
    border-width:var(--brwd,1px);
}

.serch-input{height:var(--inputHeight);position:relative}
