<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qrjoinlogin2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRjoinlogin2">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register_Activity"/>
        <activity android:name=".manufact_Activity"/>
        <activity android:name=".manu_registerQR_Dialog" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".manu_registerQR_OK"/>
        <activity android:name=".dis_Activity"/>
        <activity android:name=".dis_registerQR_OK"/>
        <activity android:name=".dis_registerQR_Dialog" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".shop_Activity"/>
        <activity android:name=".shop_registerQR_OK"/>
        <activity android:name=".shop_registerQR_Dialog" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".shop_sale_Dialog" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".shop_sale_OK"/>

    </application>

</manifest>