@charset "utf-8";

:root{
    --color_0:255,255,255;
    --color_27:241,241,241;
    --color_1:0,0,0;
    --color_2:96,121,128;
    --color_3:25,25,25;
    --color_4:241,241,241;
    --color_5:225,239,242;
    --color_6:255,255,255;
    --color_7:191,191,191;
    --color_8:128,128,128;
    --color_9:64,64,64;
    --color_10:0,0,0;
    --color_11:255,255,255;
    --color_12:191,191,191;
    --color_13:128,128,128;
    --color_14:64,64,64;
    --color_15:0,0,0;
    --color_16:201,211,214;
    --color_17:146,167,173;
    --color_18:96,121,128;
    --color_19:64,81,85;
    --color_20:32,40,43;
    --color_21:209,209,209;
    --color_22:163,163,163;
    --color_23:117,117,117;
    --color_25:25,25,25;
    --color_26:248,248,248;
    --color_28:181,181,181;
    --color_29:121,121,121;
    --color_30:60,60,60;
    --color_31:240,247,249;
    --color_32:225,239,242;
    --color_24:71,71,71;
    --color_33:144,196,207;
    --color_34:71,147,163;
    --color_35:35,73,81;
    --font_0:normal normal normal 22px/1.41em raleway,sans-serif;
    --font_1:normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
    --font_2:normal normal normal 28px/1.375em raleway,sans-serif;
    --font_3:normal normal normal 88px/1.2em raleway,sans-serif;
    --font_4:normal normal normal 72px/1.25em raleway,sans-serif;
    --font_5:normal normal normal 50px/1.34em raleway,sans-serif;
    --font_6:normal normal normal 40px/1.35em raleway,sans-serif; 
    --font_7:normal normal normal 20px/1.67em avenir-lt-w01_35-light1475496,sans-serif;
    --font_8:normal normal normal 18px/1.75em avenir-lt-w01_35-light1475496,sans-serif;
    --font_9:normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,sans-serif;
    --font_10:normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
    --site-width:980px;
    --above-all-z-index:100000;
    --minViewportSize:320;
    --maxViewportSize:1920
}
.font_0{
    font:var(--font_0);
    color:rgb(var(--color_15));
    letter-spacing:0em
}
.font_1{
    font:var(--font_1);
    color:rgb(var(--color_15));
    letter-spacing:0em
}
.font_2{
    font:var(--font_2);
    color:rgb(var(--color_15));
    letter-spacing:0em
}
.font_3{
    font:var(--font_3);
    color:rgb(var(--color_15));
    letter-spacing:0em
}
.font_4 {
    font: var(--font_4);
    color: rgb(var(--color_15));
    letter-spacing: 0
}
.font_5 {
    font: var(--font_5);
    color: rgb(var(--color_15));
    letter-spacing: 0
}
.font_6 {
    font: var(--font_6);
    color: rgb(var(--color_15));
    letter-spacing: 0
}
.font_7 {
    font: var(--font_7);
    color: rgb(var(--color_15));
    letter-spacing: 0
}
.font_8 {
    font: var(--font_8);
    color: rgb(var(--color_15));
    letter-spacing: 0
}
.font_9 {
    font: var(--font_9);
    color: rgb(var(--color_15));
    letter-spacing: 0
}
.font_10 {
    font: var(--font_10);
    color: rgb(var(--color_15));
    letter-spacing: 0
}
.color_0{
    color:rgb(var(--color_0))
}
.color_1{
    color:rgb(var(--color_1))
}
.color_2{
    color:rgb(var(--color_2))
}
.color_3{
    color:rgb(var(--color_3))
}
.color_4{
    color:rgb(var(--color_4))
}
.color_5{
    color:rgb(var(--color_5))
}
.color_6{
    color:rgb(var(--color_6))
}
.color_7{
    color:rgb(var(--color_7))
}
.color_8{
    color:rgb(var(--color_8))
}
.color_9{
    color:rgb(var(--color_9))
}
.color_10{
    color:rgb(var(--color_10))
}
.color_11{
    color:rgb(var(--color_11))
}
.color_12{
    color:rgb(var(--color_12))
}
.color_13{
    color:rgb(var(--color_13))
}
.color_14{
    color:rgb(var(--color_14))
}
.color_15{
    color:rgb(var(--color_15))
}
.color_16{
    color:rgb(var(--color_16))
}
.color_17{
    color:rgb(var(--color_17))
}
.color_18{
    color:rgb(var(--color_18))
}
.color_19{
    color:rgb(var(--color_19))
}
.color_20{
    color:rgb(var(--color_20))
}
.color_21{
    color:rgb(var(--color_21))
}
.color_22{
    color:rgb(var(--color_22))
}
.color_23{
    color:rgb(var(--color_23))
}
.color_24{
    color:rgb(var(--color_24))
}
.color_25{
    color:rgb(var(--color_25))
}
.color_26{
    color:rgb(var(--color_26))
}
.color_27{
    color:rgb(var(--color_27))
}
.color_28{
    color:rgb(var(--color_28))
}
.color_29{
    color:rgb(var(--color_29))
}
.color_30{
    color:rgb(var(--color_30))
}
.color_31{
    color:rgb(var(--color_31))
}
.color_32{
    color:rgb(var(--color_32))
}
.color_33{
    color:rgb(var(--color_33))
}
.color_34{
    color:rgb(var(--color_34))
}
.color_35{
    color:rgb(var(--color_35))
}
.backcolor_0{
    background-color:rgb(var(--color_0))
}
.backcolor_1{
    background-color:gb(var(--color_1))
}
.backcolor_2{
    background-color:rgb(var(--color_2))
}
.backcolor_3{
    background-color:rgb(var(--color_3))
}
.backcolor_4{
    background-color:rgb(var(--color_4))
}
.backcolor_5{
    background-color:rgb(var(--color_5))
}
.backcolor_6{
    background-color:rgb(var(--color_6))
}
.backcolor_7{
    background-color:rgb(var(--color_7))
}
.backcolor_8{
    background-color:rgb(var(--color_8))
}
.backcolor_9{
    background-color:rgb(var(--color_9))
}
.backcolor_10{
    background-color:rgb(var(--color_10))
}
.backcolor_11 {
    background-color: rgb(var(--color_11))
}
.backcolor_12 {
    background-color: rgb(var(--color_12))
}
.backcolor_13 {
    background-color: rgb(var(--color_13))
}
.backcolor_14 {
    background-color: rgb(var(--color_14))
}
.backcolor_15 {
    background-color: rgb(var(--color_15))
}
.backcolor_16 {
    background-color: rgb(var(--color_16))
}
.backcolor_17 {
    background-color: rgb(var(--color_17))
}
.backcolor_18 {
    background-color: rgb(var(--color_18))
}
.backcolor_19 {
    background-color: rgb(var(--color_19))
}
.backcolor_20 {
    background-color: rgb(var(--color_20))
}
.backcolor_21 {
    background-color: rgb(var(--color_21))
}
.backcolor_22 {
    background-color: rgb(var(--color_22))
}
.backcolor_23 {
    background-color: rgb(var(--color_23))
}
.backcolor_24 {
    background-color: rgb(var(--color_24))
}
.backcolor_25 {
    background-color: rgb(var(--color_25))
}
.backcolor_26 {
    background-color: rgb(var(--color_26))
}
.backcolor_27 {
    background-color: rgb(var(--color_27))
}
.backcolor_28 {
    background-color: rgb(var(--color_28))
}
.backcolor_29 {
    background-color: rgb(var(--color_29))
}
.backcolor_30 {
    background-color: rgb(var(--color_30))
}
.backcolor_31 {
    background-color: rgb(var(--color_31))
}
.backcolor_32 {
    background-color: rgb(var(--color_32))
}
.backcolor_33 {
    background-color: rgb(var(--color_33))
}
.backcolor_34 {
    background-color: rgb(var(--color_34))
}
.backcolor_35 {
    background-color: rgb(var(--color_35))
}



#SITE_CONTAINER.focus-ring-active:not(.has-custom-focus):not(.ignore-focus):focus,
#SITE_CONTAINER.focus-ring-active:not(.has-custom-focus):not(.ignore-focus):focus ~ .wixSdkShowFocusOnSibling {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
    z-index: 999
}
[data-mesh-id=SITE_FOOTERinlineContent] {
    height: auto;
    width: 100%;
    position: static;
    min-height: 180px
}
[data-mesh-id=SITE_HEADERinlineContent] {
    height: auto;
    width: 100%
}
[data-mesh-id=SITE_HEADERinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%
}
[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="title-id-top"] {
    position: relative;
    margin: 40px 0 -12px calc((100% - 980px) * 0.5);
    left: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}
[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="title-id-bot"] {
    position: relative;
    margin: 0 0 25px calc((100% - 980px) * 0.5);
    left: 3px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start
}
[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="nav-list"] {
    position: relative;
    margin: 69px 0 -12px calc((100% - 980px) * 0.5);
    left: 206px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}
#comp-ksmqifon {
    justify-self: center;
    align-self: end;
    margin-bottom: 20px;
    position: absolute;
    grid-area: 1 / 1 / 2 / 2;
    pointer-events: auto
}
#title-id-top {
    width: 206px;
    height: 59px
}
#title-id-bot {
    width: 200px;
    height: 22px
}
#nav-list {
    width: 533px;
    height: 30px
}
#masterPage {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}
#SITE_FOOTER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 50;
    --above-all-in-container: 49
}
#PAGES_CONTAINER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49
}
#SITE_HEADER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    z-index: 49;
    --above-all-in-container: 10000
}
#SITE_PAGES {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}
#comp-ksmqifon-pinned-layer {
    z-index: calc(var(--pinned-layers-in-page, 0) + 53);
    --above-all-in-container: 10000
}
#masterPage.landingPage #SITE_FOOTER {
    display: none
}
#masterPage.landingPage #SITE_HEADER {
    display: none
}
#masterPage.landingPage #comp-ksmqifon {
    display: none
}
#masterPage.landingPage #SITE_HEADER-placeholder {
    display: none
}
#masterPage.landingPage #SITE_FOOTER-placeholder {
    display: none
}
#masterPage:not(.landingPage) #PAGES_CONTAINER {
    margin-top: 0;
    margin-bottom: 0
}

@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 400;
src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4Q4FqL_KWxWMT.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 400;
src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 700;
src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw9qR_DNCb71ka4ZiO.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: italic;
font-weight: 700;
src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw9qR_AtCb71ka4Q.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqhPANqczVsq4A.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPANqczVs.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-display: block;
    font-family:"Avenir-LT-W01_35-Light1475496";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}
@font-face {
    font-display: block;
    font-family: "DancingScript-Regular";
    src: url("//fonts.gstatic.com/s/dancingscript/v9/DK0eTGXiZjN6yA8zAEyM2T9RCsRvjGRATIRlxBzwHdg.eot?#iefix");
    src: url("//fonts.gstatic.com/s/dancingscript/v9/DK0eTGXiZjN6yA8zAEyM2T9RCsRvjGRATIRlxBzwHdg.eot?#iefix") format("eot"),
    url("//fonts.gstatic.com/s/dancingscript/v9/DK0eTGXiZjN6yA8zAEyM2RN-0beyHaEC1kqeqPFpWrs.woff2") format("woff2"),
    url("//fonts.gstatic.com/s/dancingscript/v9/DK0eTGXiZjN6yA8zAEyM2UtCETOCmz2wCdel46UOhAM.woff") format("woff"),
    url("//fonts.gstatic.com/s/dancingscript/v9/DK0eTGXiZjN6yA8zAEyM2fog-Cy6dhy5Xgu82688fSg.ttf") format("truetype"),
    url("//fonts.gstatic.com/l/font?kit=DK0eTGXiZjN6yA8zAEyM2cGf0DEE6mlqV9opp_1pRbI&skey=c89f400061e5d0a8&v=v9#DancingScript") format("svg");
}
@font-face {
    font-display: block;
    font-family: "DancingScript-Regular";
    font-weight: 700;
    src: url("//fonts.gstatic.com/s/dancingscript/v9/KGBfwabt0ZRLA5W1ywjowd1F__mTQJ--pRXs2EOmsg0.eot?#iefix");
    src: url("//fonts.gstatic.com/s/dancingscript/v9/KGBfwabt0ZRLA5W1ywjowd1F__mTQJ--pRXs2EOmsg0.eot?#iefix") format("eot"),
    url("//fonts.gstatic.com/s/dancingscript/v9/KGBfwabt0ZRLA5W1ywjowZR92E8gBbe58j0pHY_YhTY.woff2") format("woff2"),
    url("//fonts.gstatic.com/s/dancingscript/v9/KGBfwabt0ZRLA5W1ywjowW_WCyVccUAWDspcx_4UXqg.woff") format("woff"),
    url("//fonts.gstatic.com/s/dancingscript/v9/KGBfwabt0ZRLA5W1ywjowWfbPar0qrg-I_8uTXkQ0Sc.ttf") format("truetype"),
    url("//fonts.gstatic.com/l/font?kit=KGBfwabt0ZRLA5W1ywjowT9GhUFziu5FA7LV6roWAHM&skey=4fd71febfd48d6c&v=v9#DancingScript") format("svg");
}
@font-face {
font-display: block;
font-family: 'Dancing Script';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/dancingscript/v13/If2RXTr6YS-zF4S-kcSWSVi_szLviuEHiC4Wl-8.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
font-display: block;
font-family: 'Dancing Script';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/dancingscript/v13/If2RXTr6YS-zF4S-kcSWSVi_szLuiuEHiC4Wl-8.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Dancing Script';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/dancingscript/v13/If2RXTr6YS-zF4S-kcSWSVi_szLgiuEHiC4W.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-display: block;
font-family: 'Dancing Script';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/dancingscript/v13/If2RXTr6YS-zF4S-kcSWSVi_szLviuEHiC4Wl-8.woff2) format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
font-display: block;
font-family: 'Dancing Script';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/dancingscript/v13/If2RXTr6YS-zF4S-kcSWSVi_szLuiuEHiC4Wl-8.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
font-display: block;
font-family: 'Dancing Script';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/dancingscript/v13/If2RXTr6YS-zF4S-kcSWSVi_szLgiuEHiC4W.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
@font-face {
    font-display: block;
    font-family: "NanumGothic-Regular";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/nanum-gothic-regular.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/nanum-gothic-regular.eot?#iefix") format("eot"),
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/nanum-gothic-regular.woff") format("woff"),
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/open-source/nanum-gothic-regular.ttf") format("truetype");
}
    
#title-id-top {
    height: auto
}
#title-id-bot {
    height: auto
}
#nav-list {
    --menuTotalBordersX: 0;
    --menuTotalBordersY: 0;
    --bgDrop: var(--color_11);
    --rd: 0;
    --shd: none;
    --fnt: normal normal normal 14px / 1.4em nanumgothic-regular, sans-serif;
    --pad: 0;
    --txt: var(--color_15);
    --trans: color 0.4s ease 0s;
    --txth: 107, 108, 204;
    --txts: var(--color_25);
    --alpha-bgDrop: 1;
    --alpha-txt: 1;
    --alpha-txth: 1;
    --alpha-txts: 1;
    --boxShadowToggleOn-shd: none
}
#SITE_FOOTER {
    --bg: var(--color_13);
    --shd: none;
    --brwt: 0;
    --brd: var(--color_14);
    --brwb: 0;
    --bgctr: var(--color_13);
    --rd: 0;
    --alpha-bg: 1;
    --alpha-bgctr: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 64, 64, 64
}
#SITE_HEADER {
    --bg: var(--color_11);
    --shd: none;
    --brwt: 0;
    --brd: var(--color_11);
    --brwb: 0;
    --bgctr: var(--color_11);
    --rd: 0;
    --alpha-bg: 1;
    --alpha-bgctr: 1;
    --alpha-brd: 0;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 128, 128, 128
}
#SITE_PAGES {
    --transition-duration: 700ms
}
#BACKGROUND_GROUP {
    --transition-duration: 700ms
}